body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Content styling */
.content {
    padding: 20px;
}

.quiz_questions {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 70vh; /* Adjust height as needed */
    margin-bottom: 150px; /* Adjust this value as needed */
}

/* Center the questions */
.question {
    margin-bottom: 20px; /* Space between questions */
    text-align: center; /* Center text within the question */
}

/* Button styling */
.button {
    background-color: rgb(7, 191, 80); /* Green background */
    border: none;
    color: #ffffff; /* White text */
    padding: 15px 32px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}

/* Button hover effect */
.button:hover {
    background-color: #055b05; /* Darker green on hover */
}

/* Footer styling */
footer {
    text-align: center;
    padding: 5px 0;
    background: #35424a;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
